./target/
./bin/
derby.log
.apt_generated/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/src/main/assemblies/conf/email.properties
/target/
/logs/
/categories/
/src/main/assemblies/conf/email-to.properties
/src/main/assemblies/conf/distribution.properties
/src/main/assemblies/conf/newhtml.html
/src/main/assemblies/conf/rules.xml
/nbproject/