<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>Ferris Riviera</title>
        <author email="mjremijan@yahoo.com">Michael Remijan</author>
    </properties>

    <!-- Optional HEAD element, which is copied as is into the XHTML <head> element
<head>
     <meta ... />
</head>
    -->

    <body>
        <section name="">
            <div id="twStart">
                <h2>Start Using Riviera</h2>
                <span class="nav-header">A database versioning source code management tool</span>
                <a href="${project.scm.url}/releases/download/${project.build.finalName}/${project.build.finalName}-${ferrisWindowsAssemblyId}.zip">
                    <img src="images/windows-icon.png" />Download for Windows
                </a>                
		&nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.scm.url}/releases/download/${project.build.finalName}/${project.build.finalName}-${ferrisLinuxAssemblyId}.tar.gz">
                    <img src="images/linux-icon.png" />Download for Linux
                </a>
                &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="${project.scm.url}">
                    <img src="images/octocat-icon.png" />Visit on GitHub
                </a>
            </div>
        </section>
		
        <section name="About">
            <p>
                Riviera is a database versioning source code management tool 
                based on the <a href="http://odetocode.com/blogs/scott/archive/2008/01/30/three-rules-for-database-work.aspx">Ode to Code Versioning Databases technique</a>
                by K. Scott Allen.              
            </p>
            <p>
              The idea behind the application is very simple.  The entire history of all database changes
              for each release is stored in a Java archive (JAR) file. Each SQL file in the archive file has
              a version number.  Riviera executes all the scripts in the each SQL file then stores the 
              SQL file's version number in the database.  Therefore, at any point in your database history,
              Riviera can compare what it's stored in the database to what's in the archive file and bring
              the database up-to-date by executing the missing scripts from the archive file.
            </p>            
        </section>
    </body>
</document>